mat-card {
    max-width: 50%;
    margin: 2em auto;
    text-align: center;
}

.example-form {
    padding-top: 10px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.full-width {
    width: 100%;
}

.min-width {
    width: 100%;
    min-width: 150px;
}